@font-face {
    font-family: "PTSans-Regular";
    src: url("../fonts/PTSans-Regular.woff") format("woff");
    src:
          url("../fonts/MyriadPro-LightSemiExt.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
body {
    margin: 10px auto;
    width: 1920px;
    min-width: 680px;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    background-color: #ffffff;
 }

 .container {
     display: flex;
    width: 670px;
    margin: 0 auto;
 }

.person {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.person-name {
    margin-top: 42px;
    font-size: 79px;
    letter-spacing: -4px;
}

.person-surname {
    font-weight: bold;
    font-size: 87px;
    margin-top: -14px;
    letter-spacing: -1px;
}

.person-job {
    font-weight: bold;
    font-size: 37px;
    line-height: 170%;
    letter-spacing: -3px;
}

.person-image {
    margin: 0 auto;
    position: relative;
    width: 359px;
    height: 359px;
    box-sizing: border-box;
    background-origin: content-box;
    background-clip: content-box;
    background-color: #3d6cb0;
    border: 2px solid #3d6cb0;
    border-radius: 50%;
    padding: 22px;
}

.circle-small {
    width: 115px;
    height: 115px;
    box-sizing: border-box;
    background-origin: content-box;
    background-clip: content-box;
    background-color: #3d6cb0;
    border: 2px solid #3d6cb0;
    border-radius: 50%;
    padding: 5px;
}

.section-title {
    display: inline-block;
    margin-left: 15px;
    font-size: 55.67px;
    font-weight: bold;
    text-transform: uppercase;
    color: #3d6cb0;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 106px;
}

.profile p {
    font-size: 23.9px;
    width: 638px;
    height: 388px;
    margin: 0;
    margin-top: 16px;
}

.profile p span {
    font-weight: bold;
}

.line {
    height: 7.66px;
    background-color: #3d6cb0;
    margin-left: 10px;
    /* width: 260px; */
}

.line-profile {
    width: 260px;
}

.icon-profile {
    background-image: url(../svg/ProfileIcon.svg);
    background-position: center;
}