@font-face {
    font-family: "PTSans-Regular";
    src: url("../fonts/PTSans-Regular.woff") format("woff");
    src:
          url("../fonts/MyriadPro-LightSemiExt.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
body {
    margin: 10px auto;
    width: 1920px;
    min-width: 680px;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid orange;
}

body::after {
    content: "body";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.person {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.person-name {
    margin-top: 40px;
    font-size: 82px;
}

.person-surname {
    margin-top: -30px;
    font-weight: bold;
    font-size: 95.58px;
}

.person-job {
    font-weight: bold;
    font-size: 37px;
}

.person-image {
    margin: 0 auto;
    position: relative;
    width: 359px;
    height: 359px;
    box-sizing: border-box;
    background-origin: content-box;
    background-clip: content-box;
    background-color: #3d6cb0;
    border: 2px solid #3d6cb0;
    border-radius: 50%;
    padding: 22px;
}

.section-title {
    margin-top: 130px;
    margin-left: 755px;
    font-size: 63.72px;
    font-weight: bold;
    text-transform: uppercase;
    color: #3d6cb0;
}

.profile p {
    margin: 0 auto;
    font-size: 23.9px;
    width: 638px;
    height: 388px;
}

.profile p span {
    font-weight: bold;
}